<!DOCTYPE html>
<html>
<head>
	<title>Device Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1>Team Devices</h1>
      </div>
      <div class="col-3">
        <nav>
         <a class="btn btn-default" href="/">Home</a>
         <a class="btn btn-default" href="/devices">My Devices</a>
        </nav>
      </div>
    </div>
	<main>
		<h2>Your Devices</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Device ID</th>
					<th>Name</th>
					<th>Location</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
        {%- for t in table %}
				<tr>
					<td>{{ t['Device ID'] }}</td>
					<td>{{ t['Name'] }}</td>
					<td>{{ t['Location'] }}</td>
					<td>
            <button class="button">Edit</button>
            <button>Delete</button>
          </td>
				</tr>
        {%- endfor %}
			</tbody>
		</table>
	</main>
  </div>
</body>
</html>