<!DOCTYPE html>
<html>
<head>
	<title>Device Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
  {% include 'nav.html' %}
	 <main>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Devices</th>
        </tr>
      </thead>
      <tbody>
        {%- for table in tables %}
        <tr>
          <td>{{members[table[0][3]]}}</td>
          <td>
            <div>
              <table class="table table-striped">
    			     <thead>
        				<tr>
        					<th>Device ID</th>
        					<th>Name</th>
        					<th>Location</th>
        				</tr>
        			 </thead>
        			 <tbody>
                {%- for t in table %}
          				<tr>
          					<td>{{t[0]}}</td>
          					<td>{{t[1]}}</td>
          					<td>{{t[2]}}</td>
          				</tr>
                {%- endfor %}
    			     </tbody>
    		      </table>
            </div>
          </td>
        </tr>
        {%- endfor%}
      </tbody>
    </table>
	</main>
  </div>
</body>
</html>